<template>
  <div>
    <v-app id="inspire">
      <v-main class="mt-15">
          <v-layout align-center justify-center>
            <v-flex xs12 sm8 md4>
              <v-card class="elevation-12">
                <v-toolbar dark color="primary">
                  <v-toolbar-title>Login</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>
                  <v-form ref="loginForm">
                    <v-text-field name="email" label="Email" type="text" prepend-icon="mdi-at" v-model="user.email"></v-text-field>
                    <v-text-field id="password" name="password" label="Password" type="password" prepend-icon="mdi-lock" v-model="user.password"></v-text-field>
                  </v-form>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary" @click="loginUser">Login</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
      </v-main>
    </v-app>
  </div>
</template>

<script>
import {mapActions} from 'vuex';

export default {
    name: 'Login',
    data(){
      return{
        user:{
          email:'',
          password:''
        }
      }
    },
    methods: {
      ...mapActions({
        login: 'user/loginUser',
        addNotification: 'application/addNotification'
      }),
      loginUser(){
        if(this.$refs.loginForm.validate()){
          this.login(this.user)
            .then(() => {
              this.addNotification({
                show: true,
                text: 'Welcome'
              }). then(()=> {
                this.$router.push({name: 'dashboard'})
              })
              
            }).catch(()=> {
              this.addNotification({
                show: true,
                text: 'Login has failed'
              })
            })
          
          
        }
      }
    }
}
</script>

<style scoped>

</style>