<template>
  <div>
    <v-app id="inspire">
    <v-main class="mt-10">
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
          <v-card class="elevation-12">
            <v-toolbar dark color="primary">
              <v-toolbar-title>Register</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
              <v-form ref="registerForm" :value="formValid">
                <v-text-field name="name" label="Name" type="text" prepend-icon="mdi-account-box" v-model="newUser.name" ></v-text-field>
                <v-text-field name="email" label="Email" type="email" prepend-icon="mdi-at" v-model="newUser.email"></v-text-field>
                <v-text-field id="password" name="password" label="Password" type="password" prepend-icon="mdi-lock" v-model="newUser.password"></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" @click="registerUser">Register</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-main>
  </v-app>
  


  </div>
</template>

<script>
import {mapActions} from 'vuex';

export default {
    name: 'Register',
    data(){
      return{
        
        formValid: false,
        newUser: {
          email: '',
          name:'',
          password:''
        }
      }
    },
    methods: {
      ...mapActions({
        addNotification: 'application/addNotification',
        register: 'user/registerUser'
      }),
      registerUser(){
        if(this.$refs.registerForm.validate()){
          this.register(this.newUser)
          .then((response) => {
            if(response.data && response.data.success == true){
              this.addNotification({
                show : true,
                text : response.data.message
              }).then(() => {
                this.newUser = {}
                //sending to login
                this.$router.push({
                  name: 'login'
                })
              })
            }
          }).catch(() => {
              this.addNotification({
                show : true,
                text : 'Failed !!!' 
              })
          })
          // console.log(this.newUser);
          // console.log({event, $form: this.$refs.registerForm.validate()})
        }
      }
    }
}
</script>

<style scoped>

</style>