<template>
  <div class="container">
    <h1>This is an Dashboard page</h1>
  </div>
</template>
<script>
  export default{
    data(){
      return {
        role: ''
      }
    },
    mounted(){
      this.$store.dispatch('user/me')
    }
  }
</script>
