<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <h2>Issue-Tracker</h2>
      </div>

      <v-spacer></v-spacer>
      <div v-if="!loggedIn">
        <v-btn :to="{name: 'login'}" color="green" class="mr-2">
          <span class="mr-1">Login</span>
          <v-icon>mdi-account</v-icon>
        </v-btn>
        <v-btn :to="{name: 'register'}" color="green">
          <span class="mr-1">Register</span>
          <v-icon>mdi-account-plus</v-icon>
        </v-btn>
      </div>

      <v-btn small @click="logout" v-if="loggedIn">
        Logout  
      </v-btn>  



    </v-app-bar>

    <v-main>
      <router-view></router-view>
      
    <!-- snackbar -->
    <div class="text-center ma-2">
      <v-snackbar
        @input="updateNotification($event, index)"
        :key="index"
        v-for="(snackbar,index) in allNotifications"
        v-model="snackbar.show"
      >
        {{ snackbar.text }}

        <template v-slot:action="{ attrs }">
            <v-btn
              color="pink"
              text
              v-bind="attrs"
              @click="removeNotification(index)"
            >
              Close
            </v-btn>
          </template>
      </v-snackbar>
    </div>
    </v-main>
  </v-app>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'

export default {
  name: 'App',

  data: () => ({
     
  }),
  created(){
    this.checkUserState();
  },
  computed: {
    ...mapGetters({
      loggedIn: 'user/loggedIn',
      allNotifications: 'application/notifications'
    }),
   
  },
  methods: {
    ...mapActions({
      logoutUser: 'user/logoutUser',
      checkUserState: 'user/setLoggedInState',
      removeNotification: 'application/removeNotification'
    }),
    logout(){
      this.$store
        this.logoutUser()
        .then(()=>{
          this.$router.push({name: 'login'})
        })
    },
    updateNotification(show, index){
      if(!show){
        this.removeNotification(index)
      }
     
    }
  },
  
};
</script>
